.notification {
	position: relative;
	margin-top: -90px;
	background-color: rgb(34, 199, 199);
	background-size: cover;
	padding: 15px;
	transition: margin 450ms;
	z-index: -1;
	box-shadow: inset 0px -5px 5px -4px rgb(14, 159, 159);
}
.notification:after {
	content: "";
	background-image: url(../../images/pattern.png);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	opacity: 0.05;
	z-index: -1;
}
.notification-slide {
	margin-top: 0;
}
.notification div {
	text-align: center;
	padding: 0px;
}
.info {
	color: #F5F5F5;
	font-size: 18px;
}
.message {
	text-shadow: 1px 1px #777777;
	color: #F5F5F5;
	font-size: 32px;
}
