.notification {
	position: relative;
	margin-top: -90px;
	background-color: rgb(34, 199, 199);
	padding: 15px;
	transition: margin 450ms;
	z-index: -1;
}
.notification-slide {
	margin-top: 0;
}
.notification div {
	text-align: center;
	padding: 0px;
}
.info {
	color: #F5F5F5;
	font-size: 18px;
}
.message {
	text-shadow: 1px 1px #777777;
	color: #F5F5F5;
	font-size: 32px;
}
