.addButton div {
	float: left;
	height: 30px;
	cursor: pointer;
}
.addButton .icon {
	position: relative;
	top: 0;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #F8F8F8;
	background-size: cover;
	background-repeat: no-repeat;
	border: 2px solid rgb(34, 199, 199);
	z-index: 1;
}
.addButton .text {
	position: relative;
	background: rgb(34, 199, 199);
	padding: 0 15px;
	margin-left: -5px;
	margin-top: 7px;
	height: 20px;
	line-height: 20px;
	color: #FFFFFF;
	text-shadow: 1px 1px #999999;
	font-size: 13px;
	z-index: 0;
	font-weight: bold;
}
